// @import '../../mixins.scss';

// .terms_container {
//     padding: 10% 5% 10% 10%;
//     font-weight: 400;

//     h1 {
//         font-size: 1.5rem;
//         margin-top: 1rem;
//         margin-bottom: .5rem;
//         @include sm{
//             font-size: 1.25rem;
//         }
//         @include xsm{
//             font-size: 1.125rem;
//         }
//     }

//     p {
//         line-height: 1.5;
//         margin-bottom: 1rem;
//         @include xsm{
//             font-size: .8rem;
//         }
//     }

//     .section {
//         margin-bottom: 1rem;

//         h2 {
//             font-size: 1.25rem;
//             // margin-bottom: 0.5rem;
//             @include sm{
//                 font-size: 1.125rem;
//             }
//             @include sm{
//                 font-size: .9rem;
//             }
//         }

//         p {
//             margin: 0 0 .5rem 1.5rem;
//             font-size: .9rem;
//             @include sm{
//                 font-size: .8rem;
//             }
//             @include xsm{
//                 font-size: .7rem;
//             }
//         }
//     }
// }

.terms_container {
    max-width: 800px;
    margin:  auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    h1,
    h2 {
        color: #0056b3;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 10px;
        margin-top: 2rem;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    p,
    ul,
    ol {
        line-height: 1.6;
    }

    ul,
    ol {
        margin-left: 20px;
    }

    ul li,
    ol li {
        margin-bottom: 10px;
    }

    strong {
        color: #0056b3;
    }

    a {
        color: #0056b3;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}